Signaux ecowatt 👇

{% for signal in signals -%}
  {%- if signal.dvalue == 1 -%}
    🟢
  {%- elif signal.dvalue == 2 -%}
    🟠 
  {%- else -%}
    🔴
  {%- endif %} {{ signal.formatted_jour }} {{ signal.message }} 
{% endfor %}
Retrouvez les eco-gestes ici 👇 https://www.monecowatt.fr/ecogestes
(Mis à jour le {{ date }})