💡 Prévisions du {{ latest_generation_fichier | date(format="%d/%m", timezone="Europe/Paris") }}

{% for signal in signals -%}
  {%- if signal.dvalue == 1 -%}
    🟢
  {%- elif signal.dvalue == 2 -%}
    🟠 
  {%- else -%}
    🔴
  {%- endif %} {{ signal.formatted_jour }} {{ signal.message }} 
{% endfor %}
Les eco-gestes ici 👉 https://www.monecowatt.fr/ecogestes